<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <title>Mappier {{title}}</title>
    <style>
        html {
            font-family: "Helvetica";
            background: white;
        }

        body {
            background: lightgray;
            max-width: 900px;
            margin: 0 auto;
        }

        #header {
            padding-top: 5;
            background: lightsteelblue;
        }

        #inner-header {
            padding-left: 10;
        }

        #main {
            padding-left: 10;
        }
    </style>
</head>
<body>
    <h1 id="header">This is Mappier!</h1>
    <div id="main">
        <p>Nice to meet you! Your last visit was {{last_visit}}.</p>
    </div>
</body>